* {
    margin: 0;
    padding: 0;
    font-size: 1rem; 
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: content-box;
}

.navbar {
    background-color:rgb(218, 239, 235);
}

.navbar-brand {
    font-size: 2rem;
    border-style: solid;
    border-width: thin;
    border-color: transparent;
}

.navbar-brand:hover {
    border-style: solid;
    border-width: thin;
    border-color: rgb(169,209,201);
}

.icon {
    font-size: 1.5rem;
}

.button {
    font-size: 3rem;
}

.statement {
    font-size: 1.125rem;
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}

.statement-projects {
    margin-top: 5rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.125rem;
}

.statement-projects-2 {
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.125rem;
}

.statement-contact {
    margin-top: 5rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.125rem;
}

.statement-index {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.125rem;
}

.footer {
    margin: 1rem;
}

/*iPhone 5 */
@media only screen 
and (min-device-width: 320px)
and (max-device-width: 568px) {
    .navbar {
        display:flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        font-size: 0.937rem;
        width: 90vw;
    }
    .navbar-brand {
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }
    .statement {
        margin: 1.5rem;
        font-size: .75rem;
    }
    .statement-index {
        margin: 1.5rem;
        font-size: .75rem;
    }
    .button {
        font-size: 1rem;
    }
}

/*iPhone 6/7/8 */
@media only screen 
and (min-device-width: 375px)
and (max-device-width: 667px) {
    .navbar {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 0.937rem;
        width: 92vw;
    }
    .navbar-brand {
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }
    .statement {
        margin: 1.5rem;
        font-size: .75rem;
    }
    .statement-index {
        margin: 1.5rem;
        font-size: .75rem;
    }
    .button {
        font-size: 1rem;
    }
}

/*iPhone 6/7/8Plus */
@media only screen 
and (min-device-width: 414px)
and (max-device-width: 736px) {
    .navbar {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 0.937rem;
        width: 92vw;
    }
    .navbar-brand {
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }
    .statement {
        margin: 1.5rem;
        font-size: .75rem;
    }
    .statement-index {
        margin: 1.5rem;
        font-size: .75rem;
    }
    .button {
        font-size: 1rem;
    }
}
