* {
    margin: 0;
    padding: 0;
    font-size: 16px; 
    font-family: 'Roboto Condensed', sans-serif;

}

.navbar-brand {
    font-size: 2rem;
}

.navbar {
    
}

.statement {
    margin: 1rem;
}

